 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.95), rgba(0,0,0,0.95)), url("images/aa49e5bbcb321c65e1d4ba4d4afa599b.png");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 1205px;
  min-height: 590px;
  height: auto;
  margin: 352px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 200;
  background-image: none;
  text-transform: none;
  margin: 54px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 200;
  text-transform: none;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -71px auto 0 204px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  font-weight: 300;
  line-height: 1.8;
  text-transform: none;
  font-size: 1rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 146px 0 30px;
}

.u-section-1 .u-group-2 {
  width: 76px;
  min-height: 464px;
  height: auto;
  margin: -379px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-elements-1 {
  min-height: 123px;
  height: auto;
  width: 41px;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 35px;
  min-height: 16px;
  width: 35px;
  min-width: 16px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -21px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 35px;
  min-height: 16px;
  width: 35px;
  min-width: 16px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 16px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 35px;
  min-height: 16px;
  width: 35px;
  min-width: 16px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 16px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-line-1 {
  height: 209px;
  transform-origin: center top 0px;
  width: 3px;
  margin: 16px 35px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 96px;
  }
}

.u-section-1 .u-social-icons-1,
.u-section-1 .u-social-icons-1:before,
.u-section-1 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-1 {
  border-color: transparent !important;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-2,
.u-section-1 .u-social-icons-2:before,
.u-section-1 .u-social-icons-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-2.u-social-icons-2.u-social-icons-2:hover {
  transform: scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-2 {
  border-color: transparent !important;
}

.u-section-1 .u-social-icons-2.u-social-icons-2.u-social-icons-2.hover {
  transform: scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-social-icons-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-social-icons-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-3,
.u-section-1 .u-social-icons-3:before,
.u-section-1 .u-social-icons-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-3.u-social-icons-3.u-social-icons-3:hover {
  transform: scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-3 {
  border-color: transparent !important;
}

.u-section-1 .u-social-icons-3.u-social-icons-3.u-social-icons-3.hover {
  transform: scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-social-icons-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-social-icons-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
  min-height: 1115px;
}

.u-section-2 .u-text-1 {
  margin: 83px auto 0 calc(((100% - 1540px) / 2) + 693px);
}

.u-section-2 .u-layout-wrap-1 {
  width: 881px;
  margin: 60px calc(((100% - 1920px) / 2) + 266px) 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 920px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 1px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 920px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 -8px 0 8px;
}

.u-section-2 .u-image-1 {
  width: 545px;
  height: 545px;
  margin: -714px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: calc(((100% - 1540px) / 2) + 300px);
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 1540px) / 2) + 298px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 295px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: auto;
    margin-left: calc(((100% - 1540px) / 2) + 410px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 1540px) / 2) + 408px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 390px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1540px) / 2) + 712px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1540px) / 2) + 500px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: calc(((100% - 1540px) / 2) + 500px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 190px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1540px) / 2) + 722px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1540px) / 2) + 600px);
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 1540px) / 2) + 600px);
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.95), rgba(0,0,0,0.95)), url("images/aa49e5bbcb321c65e1d4ba4d4afa599b.png");
  min-height: 100vh;
}

.u-section-3 .u-list-1 {
  margin-top: 231px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 366px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 749px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.stickyRight {
  position: fixed;
  bottom: 0px;
  right: 0;
  z-index:8989;
  padding: 0;
  margin: 0;
} 
.stickyLeft {
  position: fixed;
  bottom: 0px;
  left: 50px;
  z-index:8989;  
  padding: 0;
  margin: 0;
} 